html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: $primary-white-color;
  color: $primary-text-color;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.header {
  border-bottom: 1px solid #ececec;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  background-color: $primary-white-color;
}

.flex-container {
  display: flex;
  align-items: center;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.text {
  margin-top: 0;
  margin-bottom: 0;
}

.title {
  color: $title-text-color;
  margin-top: 0;
  margin-bottom: 0;
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: $title-text-color;
}

.button {
  color: $primary-white-color;
  background-color: $accent-color;
  text-decoration: none;
  min-width: 200px;
  min-height: 50px;
  display: inline-block;
}

button {
  font-family: inherit;
}

/* button:hover,
button:focus {
  color: $accent-color;
} */

.btn {
  display: inline-flex;
  min-width: 200px;
  height: 50px;
  padding: 10px 32px;
  border-radius: 4px;
  border: 1px solid transparent;
  margin-left: auto;
  margin-right: auto;

  color: $primary-white-color;
  background-color: $accent-color;

  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;

  align-items: center;
  text-align: center;
  cursor: pointer;
}

.social-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  width: 44px;
  height: 44px;

  transition-property: fill, color, background-color;
  transition-duration: 250ms;
  transition-timing-function: $timing-function;

  fill: #afb1b8;

  &:hover,
  &:focus {
    background-color: $accent-color;
    fill: #fff;
  }
}

.icon-social {
  width: 20px;
  height: 20px;
}

.social .icon-social {
  --color2: $primary-text-color;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
