.logo {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

.header-web {
  color: #2196f3;
}

.header-studio {
  display: inline-block;
  margin-bottom: 20px;
  color: #212121;
}

.footer-web {
  display: inline-block;
  margin-bottom: 20px;
  color: #2196f3;
}

.footer-studio {
  color: #fff;
}
