$primary-text-color: rgb(117, 117, 117);
$title-text-color: rgb(33, 33, 33);
$accent-color: #2196f3;
$primary-white-color: #ffffff;
$border-color: #afb1b8;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
